<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Item</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="sub"> 
        <div class="titulo">Cadastro de Item</div>
    </div>

    <div class="containerCadastrar">

        <form th:action="@{/itens/cadastrar}" method="post" >

            <div class="formulario">
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" placeholder="  Nome do item">
            </div>

            <div class="formulario">
                <label for="rm">Código RM: </label>
                <input type="text" name="rm" id="rm" maxlength="9" pattern="\d{2}\.\d{2}\.\d{3}" placeholder="  00.00.000"  oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            </div>


             <div class="formulario">
                <button type="submit" id="botaoEnviar">Registrar</button>
            </div>

        </form>
    </div>

    <script>
    document.getElementById("rm").addEventListener("input", function(e) {
        let value = e.target.value.replace(/\D/g, "");

        if (value.length > 7) {
            value = value.slice(0, 7);
        }

        if (value.length > 4) {
            value = value.replace(/^(\d{2})(\d{2})(\d{0,3})$/, "$1.$2.$3");
        } else if (value.length > 2) {
            value = value.replace(/^(\d{2})(\d{0,2})$/, "$1.$2");
        }

        e.target.value = value;
    });
    </script>
</body>
</html>