<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itens</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <form th:action="@{/itens}" method="get" class="sub-head">

        <input name="nome" type="text" placeholder="  Pesquisar Nome ou RM">

        

        <div class="filtros">
            <select name="faltando">
                <option value="">Faltando</option>
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>

            <button type="submit">
                Filtrar
            </button>
        </div>

    </form>
    

    <div class="titulo">
        <div >Itens (Estoque)</div> 

        <div class="cadastrar" >
            <a th:href="@{/itens/cadastrar}">
                <button>Cadastrar +</button>
            </a>
        </div>
    </div>

    <div class="paginacao">
        <a  th:if="${pagina.hasPrevious()}"
            th:href="@{/itens(page=${pagina.number - 1}, size=${pagina.size})}">
            ◀ Anterior
        </a>

        <span th:if="${pagina.hasPrevious() ||pagina.hasNext() }">
            Página <span th:text="${pagina.number + 1}"></span>
            de <span th:text="${pagina.totalPages}"></span>
        </span>

        <a  th:if="${pagina.hasNext()}"
            th:href="@{/itens(page=${pagina.number + 1}, size=${pagina.size})}">
            Próxima ▶
        </a>
    </div>

    <form class="cadas" id="remover" method="post" th:action="@{/itens}" style="display: none;" >
        <div class="popup">
            <h2>Tem certeza que deseja excluir?</h2>
            <p>Todo o histórico de movimentações deste item será excluído</p>
            <input type="hidden" name="remove" id="remove">
            <div>
                <button type="button" onclick= fecharModal() style="background-color: #0069AD;">Voltar</button>
                <button type="submit" style="background-color: rgb(241, 33, 33);" > Excluir</button>
            </div>
        </div>
    </form>
    

    <div class="item">
        <div>
            <table>
                
                <tr th:if="${!itensExistentes.empty}"
                    class="cabecalho-table">
                    <th>Nome Fantasia</th>
                    <th>Código RM</th>
                    <th>Total</th>
                    <th>Em uso</th>
                    <th>Disponível</th>
                    <th>Faltando</th>
                    <th>Ações</th>

                </tr>

                
                <tr th:if="${!itensExistentes.empty}"
                    class="conteudo-table"
                    th:each="item : ${itensExistentes}">

                    <th th:text="${item.nomeFantasia}">item</th>
                    <th th:text="${item.codigoRMFormatado}">codigoRm</th>
                    <th th:text="${item.total}">totalEmEstoque</th>
                    <th th:text="${item.emUso}">totalEmUso</th>
                    <th th:text="${item.disponivel}">totalDisponivel</th>
                <form th:action="@{/itens}" method="post">
                    <th>
                        <button type="submit" 
                                th:text="${item.faltando} ? 'Em falta' : 'Em estoque'"
                                th:value="${item.id}"
                                name="faltando"
                                id="faltando"
                                class="card-label-detalhe"
                                th:classappend="${item.faltando} ? 'card-label-cancelado' : 'card-label-concluido'">
                                faltando
                        </button>
                    </th>
                </form>
                    <th>
                        <button type="button" th:onclick="'window.location.href=\'/itens/projetos/' + ${item.id} + '\''" id="more">Detalhes</button>

                        <button type="button" th:onclick="'window.location.href=\'/itens/' + ${item.id} + '\''">Editar</button>
                        
                        <button type="button" th:onclick = "'abrirModal(' + ${item.id} + ')'" style="background-color: rgb(241, 33, 33); color: white;">X</button>
                    </th>
                
                </tr>
            </table>
            
            <h3 th:if="${itensExistentes.empty}">Nenhum item cadastrado ainda</h3>
        </div>

    </div>

    <script>
        function abrirModal(id) {
            document.getElementById("remove").value = id;
            document.getElementById("remover").style.display = "flex";
        }

        function fecharModal() {
            document.getElementById("remover").style.display = "none";
        }
    </script>
</body>
</html>