<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Itens</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <form th:action="@{/itens/cadastrados}" method="get" class="sub-head">

        <input name="nome" type="text" placeholder="  Pesquisar ">

        <div class="filtros">

            <button type="submit">
                Filtrar
            </button>

        </div>

    </form>
    

    <div class="sub">

        <div class="titulo">Itens</div> 

            <div class="cadastrar" >
                <a th:href="@{/itens/cadastrar}">
                    <button>Cadastrar +</button>
                </a>
            </div>

    </div>

    <div class="paginacao">
        <a th:if="${pagina.hasPrevious()}"
        th:href="@{/itens(page=${pagina.number - 1}, size=${pagina.size})}">
            ◀ Anterior
        </a>

        <span th:if="${pagina.hasPrevious() ||pagina.hasNext() }">
            Página <span th:text="${pagina.number + 1}"></span>
            de <span th:text="${pagina.totalPages}"></span>
        </span>

        <a th:if="${pagina.hasNext()}"
        th:href="@{/itens(page=${pagina.number + 1}, size=${pagina.size})}">
            Próxima ▶
        </a>
    </div>


    <div class="historico">
        <div>
            <table>
                
                <tr th:if="${!itensExistentes.empty}"
                    class="cabecalho-table">
                    <th>Item</th>
                    <th>Categoria</th>
                </tr>
                <tr th:if="${!itensExistentes.empty}"
                    class="conteudo-table"
                    th:each="item : ${itensExistentes}">

                    <th th:text="${item.nome}">item</th>
                    <th th:text="${item.categoriaItem.descricao}">categoria</th>

                    <form th:action="@{/itens/cadastrados}" method="post">
                        <th>
                            <button type="button" th:onclick="'window.location.href=\'/itens/' + ${item.id} + '\''">Editar</button>
                            
                            <button type="submit" name="remove" id="remove" th:value="${item.id}">X</button>
                        </th>
                    </form>
                </tr>
            </table>
            <h3 th:if="${itensExistentes.empty}">Nenhum item cadastrado ainda</h3>
        </div>

    </div>

</body>
</html>