<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pedido</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

     <form th:action="@{/pedidos/cadastrar}" method="post" id="registrarForm" class="containerCadastrar" >

        <div class="formulario">
            <label for="destino">Destino:</label>
            <select name="destino" id="destino">
                <option 
                    th:each="destino : ${destinos}"
                    th:value="${destino.id}"
                    th:text="${destino.nome}">
                </option>
            </select>
        </div>

        <div class="formulario">
            <label for="status">Status:</label>
            <select name="status" id="status">
                <option 
                    th:each="status : ${statusExistentes}"
                    th:value="${status}"
                    th:text="${status.descricao}">
                </option>
            </select>
        </div>

        <div class="formulario">
            <label for="titulo">Título: </label>
            <input type="text" name="titulo" id="" placeholder="  Título do pedido">     
        </div>
        
        <div class="formulario">
            <label for="descricao">Descrição: </label>
            <textarea type="text" name="descricao" id=""> </textarea>
        </div>

        <div class="formulario">
            <label for="categoria">Categoria:</label>
            <select name="categoria" id="categoria" onchange = trocarSelectTipo()>
                <option th:each="categoria : ${categoriasExistentes}"
                        th:value="${categoria}"
                        th:text="${categoria.descricao}">
                </option>
            </select>
        </div>

        <div class="formulario" id="tipoOS" style="display: none;">
            <label for="tipoOS">Tipo OS:</label>
            <select name="tipoOS" id="">
                <option th:each="tipoOS : ${tiposOsExistentes}"
                        th:value="${tipoOs}"
                        th:text="${tipoOS.descricao}">
                </option>
            </select>
        </div>

        <div class="formulario" id="tipoTransporte" style="display: none;">
            <label for="tipoTransporte">Tipo Transporte:</label>
            <select name="tipoTransporte" id="">
                <option th:each="tipoTransporte : ${tiposTransporteExistentes}"
                        th:value="${tipoTransporte}"
                        th:text="${tipoTransporte.descricao}">
                </option>
            </select>
        </div>
          

        <div class="formulario">
            <button type="submit" id="botaoEnviar" >Registrar</button>
        </div>
    
    </form>

    <script>
        function trocarSelectTipo(){
            const categoria = document.getElementById('categoria').value;
            const tipoOS = document.getElementById('tipoOS');
            const tipoTransporte = document.getElementById('tipoTransporte');

            document.getElementById('tipoOS').required = false;
            document.getElementById('tipoTransporte').required = false;
        

            if (categoria === 'OS'){
                tipoOS.style.display = 'flex';
                tipoTransporte.style.display = 'none';

                document.getElementById('tipoOS').required = true;

            }  else if (categoria === 'TRANSPORTE'){
                tipoTransporte.style.display = 'flex';
                tipoOS.style.display = 'none';

                document.getElementById('tipoTransporte').required = true;

            } else {
                tipoOS.style.display = 'none';
                tipoTransporte.style.display = 'none';
            }
        }
    </script>
</body>
</html>