<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>

    <link href="/static/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="sub-head-detalhes">
        
        <div  class="titulo-detalhe" style="flex-direction: column;">

            <div style="flex-direction: row; display: flex; align-items: center;">

                <h1 th:text="|${pedido.titulo}|" >titulo</h1>
                
                <div th:if="${pedido.statusPedido.name() == 'RECEBIDO'}">
                    <label for="" class="card-label-detalhe" th:text="${pedido.statusPedido.descricao}" th:classappend="${pedido.classeLabelStatus}" style="margin-left: 10px;">recebido</label>
                </div>
                <div class="label-detalhe" th:if="${pedido.statusPedido.name() != 'RECEBIDO'}">

                        <form th:action="@{/pedidos/{id}(id=${pedido.id})}" method="post">

                            <select name="novoStatus"
                                    class="card-label-detalhe"
                                    th:classappend="${pedido.classeLabelStatus}">

                                <option th:each="status : ${statusExistentes}"
                                        th:value="${status.name()}"
                                        th:text="${status.descricao}"
                                        th:selected="${status == pedido.statusPedido}"
                                        classappend="none">
                                </option>

                            </select>

                            <button type="submit" name="update">
                                Atualizar status
                            </button>

                        </form>
                </div>        
            </div>

            <div style="margin-right: 120px;">
                <button th:onclick="'window.location.href=\'/pedidos' + '\''" class="voltar">Voltar</button>

                <button th:onclick="'window.location.href=\'/pedidos/' + ${pedido.id} + '/' + 'editar' + '\''" class="editar" th:if="${pedido.statusPedido.name() != 'RECEBIDO'}">Editar</button>
            </div>
            
        </div>


        <div >
            
            <div class="detalhes-detalhe">
                <h2 th:text="|Data de Solicitação: ${#temporals.format(pedido.dataPedido, 'dd/MM/yyyy HH:mm')}|">Data da Solicitação: 11/22/3333 </h2>
            </div>
        </div>
    </div>

    <div style="margin-left: 40px;">
        <h1 th:text="|Destino: ${pedido.destino.nome}|" >Destino:</h1>
        
    </div>

    
    <div class="container-detalhe">

        <div class="item" th:if="${pedido.categoria.descricao == 'Requisição de Material'}">
            <div class="titulo-item">
                <h3>Itens</h3>
                <button onclick="abrirModal()">Adicionar +</button>
            </div>


            <form th:action="@{/pedidos/{id}(id=${pedido.id})}" method="post">

                <div class="modal" id="modal-adicionar">

                    <div class="modal-content">
                        <div class="cabecalho">
                            <h3>Item +</h3>
                            <button type="button" onclick="fecharModal()">&times;</button>
                        </div>
                        <div class="modal-content-input">
                            <div class="modal-content-input-content">
                                <h4>Item: </h4>
                                <input list="lista-item" name="itemNome" autocomplete="off" placeholder="  Digite ou Selecione">
                                <datalist id="lista-item">
                                    <option th:each="item : ${itensExistentes}"
                                            th:value="${item.nome.toString()}">
                                    </option>
                                </datalist>
                            </div>

                            <div class="modal-content-input-content">
                                <h4>Quantidade:</h4>
                                <input type="number" name="quantidade" id="quantidade" placeholder="  Digite a quantidade">
                            </div>
                            

                            <div class="formulario">
                                <button type="submit" id="botaoEnviar" name="botaoEnviar">Registrar</button>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </form>

            
            <div >
                <table >
                    <tr class="cabecalho-table">
                        <th>Nome</th>
                        <th>Fantasia</th>
                        <th>RM</th>
                        <th>Quantidade</th>
                        <th>Ações</th>
                    </tr>
                    <tr th:if="${!itensLocal.empty}"
                        th:each="itemPedido : ${itensLocal}">
                        <th th:text="${itemPedido.item.nome}">nome</th>
                        <th th:text="${itemPedido.item.nomeFantasia}">nome</th>
                        <th th:text="${itemPedido.item.codigoRMFormatado}">rm</th>
                        <th th:text="${itemPedido.quantidade}">quantidade</th>
                        <form th:action="@{/pedidos/{id}(id=${pedido.id})}" method="post">
                            <th>
                                <button type="submit" name="more" id="more" th:value="${itemPedido.id}" >+</button>
                                <button type="submit" name="less" id="less" th:value="${itemPedido.id}" >-</button>
                                <button type="submit" name="remove" id="remove" th:value="${itemPedido.id}">X</button>
                            </th>
                        </form>
                    </tr>
                </table>
                
                <h3 th:if="${itensLocal.empty}">Nenhum item associado!</h3>
            </div>
        </div>

        <div class="historico" style="width: 550px;" >
            <h2>Detalhes</h2>
            <ol id="detalhes">
                <li style="align-items: center;">
                    <label for="" style="font-weight: bold;">
                        Categoria: 
                    </label> 
                    <label class="card-label-detalhe" 
                            th:text="${pedido.categoria.descricao}" 
                            th:classappend="${pedido.classeLabelCategoria}"
                           style="border-radius: 20px; padding: 5px;">
                        enumCategoria
                    </label>
                </li>
                <li th:if="${pedido.categoria.descricao == 'Ordem de Serviço'}">
                    <label style="font-weight: bold;">
                        Tipo de OS:
                    </label>
                    <label th:text="${pedido.tipoOs.descricao}"
                           class="label-detalhe" >
                        tipoOS
                    </label>
                </li>
                <li th:if="${pedido.categoria.descricao == 'Transporte'}">
                    <label style="font-weight: bold;">
                        Tipo de Transporte:
                    </label>
                    <label th:text="${pedido.tipoTransporte.descricao}"
                           class="label-detalhe">
                        tipoTransporte
                    </label>
                </li>
                <li class="descricao">
                    <h4 style="font-weight: bold;">
                        Descrição:
                    </h4>
                    <label class="label-detalhe"
                           th:text="${pedido.descricao}">
                        descricao
                    </label>
                </li>
            </ol>
        </div>

    </div>

    <script>
        function abrirModal(){
            document.getElementById("modal-adicionar").style.display = "block";
        }

        function fecharModal(){
            document.getElementById("modal-adicionar").style.display = "none";
        }
    </script>
</body>
</html>