<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <form th:action="@{/pedidos}" method="get" class="sub-head" id="sub-head-movimentacao">

        <div class="filtros">
            <select name="status" id="filtroStatus">
                <option value="">Status</option>
                <option th:each="s : ${status}"
                        th:value="${s}"
                        th:text="${s.descricao}">
                </option>
            </select>

            <select name="destinoId" id="filtroDestino">
                <option value="">Destino</option>
                <option th:each="local : ${destinos}"
                        th:value="${local.id}"
                        th:text="${local.nome}">
                </option>
            </select>

            <select name="itemId" id="filtroItem">
                <option value="">Item</option>
                <option th:each="item : ${itens}"
                        th:value="${item.id}"
                        th:text="${item.nome}">
                </option>
            </select>

            <button type="submit">
                Filtrar
            </button>

        </div>

    </form>

    <div class="titulo">
        <div >Pedidos</div> 

        <div class="cadastrar" >
            <a th:href="@{/pedidos/cadastrar}">
                <button>Cadastrar +</button>
            </a>
        </div>
    </div>

    <div class="paginacao">
        <a th:if="${pagina.hasPrevious()}"
        th:href="@{/pedidos(page=${pagina.number - 1}, size=${pagina.size})}">
            ◀ Anterior
        </a>

        <span th:if="${pagina.hasPrevious() ||pagina.hasNext() }">
            Página <span th:text="${pagina.number + 1}"></span>
            de <span th:text="${pagina.totalPages}"></span>
        </span>

        <a th:if="${pagina.hasNext()}"
        th:href="@{/pedidos(page=${pagina.number + 1}, size=${pagina.size})}">
            Próxima ▶
        </a>
    </div>

    <form class="cadas" id="remover" method="post" th:action="@{/pedidos}" style="display: none;" >
        <div class="popup">
            <h2>Tem certeza que deseja excluir?</h2>
            <input type="hidden" name="remove" id="remove">
            <div>
                <button type="button" onclick= fecharModal() style="background-color: #0069AD;">Voltar</button>
                <button type="submit" style="background-color: rgb(241, 33, 33);" > Excluir</button>
            </div>
        </div>
    </form>

    <div class="historico">

                <table>
                    <tr th:if="${!pedidos.empty}"
                        class="cabecalho-table">
                        <th>Título</th>
                        <th>Status</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Item</th>
                        <th>Data</th>
                        <th>Ações</th>
                    </tr>
                    <tr class="linha-historico"
                        th:if="${!pedidos.empty}"
                        th:each="pedido : ${pedidos}"
                        >
                        <form th:action="@{/pedidos}" method="post" >
                         
                            <th th:text="${pedido.titulo}">titulo</th>
                            <th>
                                <div>
                                    <label for="" class="card-label-detalhe" th:text="${pedido.status.descricao}" th:classappend="${pedido.classeLabelStatus}" th:if="${pedido.status.descricao == 'Recebido'}">recebido</label>
                                    <select name="novoStatus"
                                            class="card-label-detalhe"
                                            th:classappend="${pedido.classeLabelStatus}"
                                            th:if="${pedido.status.descricao != 'Recebido'}">
                                        <option th:each="s : ${status}"
                                                th:value="${s}"
                                                th:text="${s.descricao}"
                                                th:selected="${s == pedido.status}"
                                                classappend="none">
                                        </option>
                                    </select>
                                </div>
                            </th>
                            <th th:text="${pedido.descricao}">descricao</th>
                            <th>
                                <div class="label-detalhe" 
                                    th:text="${pedido.categoria.descricao}" 
                                    th:classappend="${pedido.classeLabelCategoria}">
                                    categoria
                                </div>
                            </th>
                            <th>
                                <ul th:if="${pedido.itens.size() < 4}">
                                    <li th:each = "item : ${pedido.itens}">
                                        <span th:text = ${item.item.nome} - >nomeItem</span>

                                        <span th:text = "| - ${item.quantidade}x|">qntItem</span>
                                    </li>
                                </ul>

                                <ul th:if="${pedido.itens.size() > 3}">
                                    <li th:each = "item, stat : ${pedido.itens}"
                                        th:if="${stat.index < 3}">
                                        <span th:text = ${item.item.nome} - >nomeItem</span>

                                        <span th:text = "| - ${item.quantidade}x|">qntItem</span>
                                    </li>
                                </ul>
                                <span th:if="${pedido.itens.size() > 3}">...</span>
                            </th>
                            <th th:text="${#temporals.format(pedido.data, 'dd/MM/yyyy HH:mm')}">data</th>
                            
                            <th>
                                <button type="submit" name="update" id="more"  th:value="${pedido.id}" th:if="${pedido.status.descricao != 'Recebido'}">Atualizar status</button>
                                <button type="button" th:onclick = "'window.location.href=\'/pedidos/' + ${pedido.id} + '\''" id="botaoForm">Detalhes</button>
                                <button type="button" th:onclick = "'abrirModal(' + ${pedido.id} + ')'" style="background-color: rgb(241, 33, 33); color: white;">X</button>
                            </th>
                        </form>
                    </tr>
                </table>
                <h3 th:if="${pedidos.empty}">Nenhum pedido registrado!</h3>
            
        </div>

        <script>
            function abrirModal(id) {
                document.getElementById("remove").value = id;
                document.getElementById("remover").style.display = "flex";
            }

            function fecharModal() {
                document.getElementById("remover").style.display = "none";
            }
        </script>
</body>
</html>
