<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Funcionário</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="sub"> 
        <div class="titulo">Editar Item</div>
    </div>

    <div style="margin: 0px 0px 10px 30px;">
        <button th:onclick="'window.location.href=\'/funcionarios' + '\''" class="voltar">Voltar</button>
    </div>

    <div class="containerCadastrar">

        <form th:action="@{/funcionarios/{id}(id=${funcionario.id})}" method="post" >

            <div class="formulario">
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" th:placeholder="|  ${funcionario.nome}|">
            </div>

            <div class="formulario">
                <label for="cargo">Cargo: </label>
                <select name="cargo" id="cargo">
                    <option th:value="${funcionario.cargo}" th:text="${funcionario.cargo.descricao}">cargoAtual</option>
                    <option th:each="cargo : ${cargosExistentes}"
                            th:value="${cargo}"
                            th:text="${cargo.descricao}">
                    </option>
                </select>
            </div>

             <div class="formulario">
                <button type="submit" id="update" name="update">Registrar</button>
            </div>

        </form>
    </div>
</body>
</html>