<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionarios</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="sub-head">

        <input id="searchInput" onkeyup="filtrarFuncionarios()" type="text" placeholder="  Pesquisar">

        <div class="filtros">
            <select name="Clero" id="filtroClero" onclick="filtrarFuncionarios()">
                <option value="">Clero</option>
                <option th:each="clero : ${clerosExistentes}"
                        th:value="${clero.descricao}"
                        th:text="${clero.descricao}">
                </option>
            </select>

            <select name="Projeto" id="filtroProjeto" onclick="filtrarFuncionarios()">
                <option value="">Projeto</option>
                <option th:each="p : ${projetosExistentes}"
                        th:value="${p.nome}"
                        th:text="${p.nome}">
                </option>
            </select>

        </div>

    </div>

    <div class="sub">

        <div class="titulo">Funcionários</div>

        <div class="cadastrar" >
            <a th:href="@{/funcionarios/cadastrar}">
                <button>Cadastrar +</button>
            </a>
        </div>

    </div>

    <div class="paginacao">
        <a th:if="${pagina.hasPrevious()}"
        th:href="@{/funcionarios(page=${pagina.number - 1}, size=${pagina.size})}">
            ◀ Anterior
        </a>

        <span th:if="${pagina.hasPrevious() ||pagina.hasNext() }">
            Página <span th:text="${pagina.number + 1}"></span>
            de <span th:text="${pagina.totalPages}"></span>
        </span>

        <a th:if="${pagina.hasNext()}"
        th:href="@{/funcionarios(page=${pagina.number + 1}, size=${pagina.size})}">
            Próxima ▶
        </a>
    </div>

    <div class="historico">

        <div>
            <table>
                <tr th:if="${!funcionarioProjetos.empty}"
                    class="cabecalho-table">
                    <th>Nome</th>
                    <th>Clero</th>
                    <th>Projeto</th>
                </tr>
                <tr th:if="${!funcionarioProjetos.empty}"
                    class="conteudo-table"
                    th:each="f : ${funcionarioProjetos}"
                    th:attr="data-nome=${f.funcionario.nome},
                            data-clero=${f.funcionario.clero.descricao != null ? f.funcionario.clero.descricao : ''},
                            data-projeto=${f.projeto.nome != null ? f.projeto.nome : ''}">

                    <th th:text="${f.funcionario.nome}">nome</th>
                    <th th:text="${f.funcionario.clero.descricao}">clero</th>
                    <th th:text="${f.projeto.nome}">projeto</th>
                </tr>
            </table>

            <h3 th:if="${funcionarioProjetos.empty}">Nenhum funcionário associado a projeto </h3>

        </div>

    </div>

    <script>
        function filtrarFuncionarios(){

            const searchInput = (document.getElementById('searchInput').value || '').toLowerCase().trim();

            const filtroClero = (document.getElementById('filtroClero').value).trim();
            const filtroProjeto = (document.getElementById('filtroProjeto').value).trim();

            const funcionarios = document.querySelectorAll('.historico .conteudo-table');

            funcionarios.forEach(f => {
                const nome = (f.dataset.nome || '').toLowerCase().trim();
                const clero = (f.dataset.clero || '').trim();
                const projeto = (f.dataset.projeto || '').trim();

                const matchesNome = nome.includes(searchInput);
                
                const matchesClero = filtroClero === '' ? true : (clero !== '' && clero === filtroClero);
                const matchesProjeto = filtroProjeto === '' ? true : (projeto !== '' && projeto === filtroProjeto);

                f.style.display = (matchesNome && matchesClero && matchesProjeto) ? 'table-row' : 'none';
            });
        }
    </script>
</body>
</html>