<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <form th:action="@{/funcionarios}" method="get" class="sub-head">

        <input name="nome" type="text" placeholder="  Pesquisar ">

        <div class="filtros">
            <select name="cargo">
                <option value="">Cargo</option>
                <option th:each="cargo : ${cargosExistentes}"
                        th:value="${cargo}"
                        th:text="${cargo.descricao}">
                </option>
            </select>

            <button type="submit">
                Filtrar
            </button>

        </div>
    </form>
    

    <div class="titulo">
        <div>Funcionários</div> 

        <div class="cadastrar" >
            <a th:href="@{/funcionarios/cadastrar}">
                <button>Cadastrar +</button>
            </a>
        </div>
    </div>

    <div class="paginacao">
        <a th:if="${pagina.hasPrevious()}"
        th:href="@{/funcionarios(page=${pagina.number - 1}, size=${pagina.size})}">
            ◀ Anterior
        </a>

        <span th:if="${pagina.hasPrevious() ||pagina.hasNext() }">
            Página <span th:text="${pagina.number + 1}"></span>
            de <span th:text="${pagina.totalPages}"></span>
        </span>

        <a th:if="${pagina.hasNext()}"
        th:href="@{/funcionarios(page=${pagina.number + 1}, size=${pagina.size})}">
            Próxima ▶
        </a>
    </div>


    <div class="historico">
        <div>
            <table>
                
                <tr th:if="${!funcionariosExistentes.empty}"
                    class="cabecalho-table">
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Login</th>
                    <th>Ações</th>
                </tr>
                <tr th:if="${!funcionariosExistentes.empty}"
                    class="conteudo-table"
                    th:each="funcionario : ${funcionariosExistentes}">

                    <th th:text="${funcionario.nome}">nome</th>
                    <th th:text="${funcionario.cargo.descricao}">login</th>
                    <th th:text="${funcionario.login}">login</th>
                    <form th:action="@{/funcionarios/cadastrados}" method="post">
                        <th style="max-width: 40px;">
                            <button type="button" th:onclick="'window.location.href=\'/funcionarios/projetos/' + ${funcionario.id} + '\''"  id="more">Detalhes</button>

                            <button type="button" th:onclick="'window.location.href=\'/funcionarios/' + ${funcionario.id} + '\''">Editar</button>
                            
                            <button type="submit" name="remove" id="remove" th:value="${funcionario.id}">X</button>
                        </th>
                    </form>
                </tr>
            </table>
            <h3 th:if="${funcionariosExistentes.empty}">Nenhum item cadastrado ainda</h3>
        </div>

    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>