<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionarios</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <form th:action="@{/funcionarios}" method="get" class="sub-head">

        <input name="nome" type="text" placeholder="  Pesquisar">

        <div class="filtros">
            <select name="cargo" id="filtroClero" >
                <option value="">Cargo</option>
                <option th:each="cargo : ${cargosExistentes}"
                        th:value="${cargo}"
                        th:text="${cargo.descricao}">
                </option>
            </select>

            <select name="projeto" id="filtroProjeto">
                <option value="">Projeto</option>
                <option th:each="p : ${projetosExistentes}"
                        th:value="${p.id}"
                        th:text="${p.nome}">
                </option>
            </select>

            <button type="submit">
                Filtrar
            </button>

        </div>

    </form>

    <div class="sub">

        <div class="titulo">Funcionários</div>

        <div class="cadastrar" >
            <a th:href="@{/funcionarios/cadastrados}">
                <button>Editar</button>
            </a>

            <a th:href="@{/funcionarios/cadastrar}">
                <button>Cadastrar +</button>
            </a>
        </div>

    </div>

    <div class="paginacao">
        <a th:if="${pagina.hasPrevious()}"
        th:href="@{/funcionarios(page=${pagina.number - 1}, size=${pagina.size})}">
            ◀ Anterior
        </a>

        <span th:if="${pagina.hasPrevious() ||pagina.hasNext() }">
            Página <span th:text="${pagina.number + 1}"></span>
            de <span th:text="${pagina.totalPages}"></span>
        </span>

        <a th:if="${pagina.hasNext()}"
        th:href="@{/funcionarios(page=${pagina.number + 1}, size=${pagina.size})}">
            Próxima ▶
        </a>
    </div>

    <div class="historico">

        <div>
            <table>
                <tr th:if="${!funcionarioProjetos.empty}"
                    class="cabecalho-table">
                    <th>Nome</th>
                    <th>Clero</th>
                    <th>Projeto</th>
                </tr>
                <tr th:if="${!funcionarioProjetos.empty}"
                    class="conteudo-table"
                    th:each="f : ${funcionarioProjetos}">

                    <th th:text="${f.funcionario.nome}">nome</th>
                    <th th:text="${f.funcionario.cargo.descricao}">cargo</th>
                    <th th:text="${f.projeto.nome}">projeto</th>
                </tr>
            </table>

            <h3 th:if="${funcionarioProjetos.empty}">Nenhum funcionário associado a projeto </h3>

        </div>

    </div>

</body>
</html>