<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <form th:action="@{/historico}" method="get" class="sub-head" id="sub-head-movimentacao">

        <div class="filtros" >
            <select name="status" id="filtroMovimento">
                <option value="">Movimento</option>
                <option th:each="status : ${statusExistentes}"
                        th:value="${status}"
                        th:text="${status.descricao}">
                </option>
            </select>

            <select name="origemId" id="filtroOrigem">
                <option value="">Origem</option>
                <option th:each="o : ${origensExistentes}"
                        th:if="${o != null}"
                        th:value="${o.id}"
                        th:text="${o.nome}">
                </option>
            </select>

            <select name="destinoId" id="filtroDestino">
                <option value="">Destino</option>
                <option th:each="d : ${destinosExistentes}"
                        th:if="${d != null}"
                        th:value="${d.id}"
                        th:text="${d.nome}">>
                </option>
            </select>

            <select name="itemId" id="filtroItem">
                <option value="">Item</option>
                <option th:each="i : ${itensExistentes}"
                        th:value="${i.id}"
                        th:text="${i.nome}">>
                </option>
            </select>

            <button type="submit">
                Filtrar
            </button>
        </div>

    </form>


    <div class="sub">
        <div class="titulo">
            Histórico
        </div>
    </div>

    <div class="paginacao">
        <a th:if="${pagina.hasPrevious()}"
        th:href="@{/historico(page=${pagina.number - 1}, size=${pagina.size})}">
            ◀ Anterior
        </a>

        <span th:if="${pagina.hasPrevious() ||pagina.hasNext() }">
            Página <span th:text="${pagina.number + 1}"></span>
            de <span th:text="${pagina.totalPages}"></span>
        </span>

        <a th:if="${pagina.hasNext()}"
        th:href="@{/historico(page=${pagina.number + 1}, size=${pagina.size})}">
            Próxima ▶
        </a>
    </div>


    <div class="historico">

            <div>
                <table >
                    <tr class="cabecalho-table">
                        <th>Movimento</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Item</th>
                        <th>Quantidade</th>
                        <th>Data</th>
                    </tr>
                    <tr class="linha-historico"
                        th:if="${!movimentacoes.empty}"
                        th:each="movimento : ${movimentacoes}">
                         
                        <th >
                            <label  th:text="${movimento.status.descricao}" 
                                    class="card-label-detalhe" 
                                    th:classappend="${movimento.labelMovimentacao}">
                                    movimento
                            </label>
                        </th>
                        <th th:text="${movimento.origem != null} ? ${movimento.origem.nome} : ''">origem</th>
                        <th th:text="${movimento.destino != null} ? ${movimento.destino.nome} : ''">destino</th>
                        <th th:text="${movimento.item.nome}">item</th>
                        <th th:text="${movimento.quantidade}">quantidade</th>
                        <th th:text="${#temporals.format(movimento.data, 'dd/MM/yyyy HH:mm')}">data</th>
                    </tr>
                </table>
                <h3 th:if="${movimentacoes.empty}">Nenhuma movimentação registrada!</h3>
            </div>
        </div>
</body>
</html>