<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="sub-head-detalhes">

        <div  class="titulo-detalhe">

            <h1 th:text="${local.nome}" >Nome Local</h1>
            
            <div class="label-detalhe" style="margin-left: 10px;">

                <div class="card-label-detalhe"
                    th:text="${local.categoria.descricao}"
                    th:classappend="${local.classeLabelCategoria}">
                    Categoria local
                </div>

                <div class="card-label-detalhe"
                    th:text="${local.statusProjeto.descricao}"
                    th:classappend="${local.classeLabelStatus}"
                    >
                    Status local
                </div>

            </div>
            

        </div>

        <div class="detalhes-detalhe" >
            <div class="solicitante-detalhe">
                <h2>Solicitante:  </h2>
                <h2 
                    th:text="${local.nomeSolicitante}"> nome solicitante
                </h2>
            </div>

            <div class="funcionarios-detalhe">
                <h2 th:text="${funcionariosLocal.size() > 1 ? 'Responsáveis:' : 'Responsável:' }">Responsáveis: </h2>
                <div class="funcionario-detalhe">
                    <table class="table-responsavel">
                        <th th:each="f : ${funcionariosLocal}" th:text="${f.funcionario.nome + ' (' + f.funcionario.cargo.descricao + ')' }">

                        </th>
                    </table>
                </div>
            </div>

            <div style="width: 550px;">
                <label style="font-weight: bold;">
                    Descrição:
                </label>
                <label class="label-detalhe"
                        th:text="${local.descricao}">
                    descricao
                </label>
            </div>

        </div>

    </div>

    <div id="botaoEditar">
        <a th:href="@{/locais}" >
            <button class="voltar">Voltar</button>
        </a>

        <a  th:href="@{/local/{id}/editar(id=${local.id})}" >
            <button class="editar">Editar</button>
        </a>
    </div>
    

    <div class="container-detalhe">

        <div class="item">
            <div class="titulo-item">
                <h3>Itens</h3>
                <button onclick="abrirModal()">Adicionar +</button>
            </div>


            <form th:action="@{/local/{id}(id=${local.id})}" method="post">

                <div class="modal" id="modal-adicionar">

                    <div class="modal-content">
                        <div class="cabecalho">
                            <h3>Item +</h3>
                            <button type="button" onclick="fecharModal()">&times;</button>
                        </div>
                        <div class="modal-content-input">
                            <div class="modal-content-input-content">
                                <h4>Item: </h4>
                                <input list="lista-item" name="itemNome" autocomplete="off" placeholder="  Digite ou Selecione">
                                <datalist id="lista-item">
                                    <option th:each="item : ${itensExistentes}"
                                            th:value="${item.nome.toString()}">
                                    </option>
                                </datalist>
                            </div>

                            <div class="modal-content-input-content">
                                <h4>Quantidade:</h4>
                                <input type="number" name="quantidade" id="quantidade" placeholder="  Digite a quantidade">
                            </div>
                            
                            <div class="modal-content-input-content">
                                <h4>Origem:</h4>
                                <input list="lista-locais" name="itemOrigem" placeholder="  Digite ou Selecione">
                                <datalist id="lista-locais">
                                    <option th:each="local : ${locaisExistentes}"
                                            th:value="${local.nome.toString()}">
                                    </option>
                                </datalist>
                            </div>
                            

                            <div class="formulario">
                                <button type="submit" id="botaoEnviar" name="botaoEnviar">Registrar</button>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </form>

            
            <div class="painel-item">
                <table >
                    <tr class="cabecalho-table">
                        <th>Nome</th>
                        <th>Nome Fantasia</th>
                        <th>RM</th>
                        <th>Quantidade</th>
                    </tr>
                    <tr th:if="${!itensLocal.empty}"
                        th:each="itemEstoque : ${itensLocal}">
                        <th th:text="${itemEstoque.item.nome}">nome</th>
                        <th th:text="${itemEstoque.item.nomeFantasia}">nomeFantasia</th>
                        <th th:text="${itemEstoque.item.codigoRMFormatado}">rm</th>
                        <th th:text="${itemEstoque.quantidade}">quantidade</th>
                    </tr>
                </table>
                
                <h3 th:if="${itensLocal.empty}">Nenhum item associado!</h3>
            </div>
        </div>

        <div class="historico">
            <div class="titulo-historico">
                <h3>Histórico</h3>
            </div>

            <div>
                <table >
                    <tr class="cabecalho-table">
                        <th>Movimento</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Item</th>
                        <th>Quantidade</th>
                        <th>Data</th>
                    </tr>
                    <tr th:if="${!movimentacoesLocal.empty}"
                        th:each="movimento : ${movimentacoesLocal}">
                        <th th:text="${movimento.status.descricao}">movimento</th>
                        <th th:text="${movimento.origem} ? ${movimento.origem.nome} : ''">origem</th>
                        <th th:text="${movimento.destino} ? ${movimento.destino.nome} : ''">destino</th>
                        <th th:text="${movimento.item.nome}">item</th>
                        <th th:text="${movimento.quantidade}">quantidade</th>
                        <th th:text="${#temporals.format(movimento.data, 'dd/MM/yyyy HH:mm')}">data</th>
                    </tr>
                </table>
                <h3 th:if="${movimentacoesLocal.empty}">Nenhuma movimentação registrada!</h3>
            </div>
        </div>
    </div>

    <script>
        function abrirModal(){
            document.getElementById("modal-adicionar").style.display = "block";
        }

        function fecharModal(){
            document.getElementById("modal-adicionar").style.display = "none";
        }
    </script>
</body>
</html>