<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <form th:action="@{/locais}" method="get" class="sub-head">
        <input name="nome" type="text" placeholder="  Pesquisar">

            <div class="filtros">
                
                <select name="solicitante">
                    <option value="">Solicitante</option>
                    <option th:each="solicitante : ${solicitantesExistentes}"
                            th:value="${solicitante}"
                            th:text="${solicitante}">
                    </option>
                </select>

                <select name="status">
                    <option value="">Status</option>
                    <option th:each="status : ${statusExistentes}"
                            th:value="${status}"
                            th:text="${status.descricao}">
                    </option>
                </select>

                <select name="categoria">
                    <option value="">Categoria</option>
                    <option th:each="categoria : ${categoriasExistentes}" 
                            th:value="${categoria}"
                            th:text="${categoria.descricao}">
                    </option>
                </select>

                <button type="submit">
                    Filtrar
                </button>
            </div>

    </form>

    <div class="titulo">
        <div>Projetos</div> 

        <div class="cadastrar" > 
            <a th:href="@{/locais/cadastrar}">
                <button>Cadastrar +</button>
            </a>
        </div>
    </div>

    

    <div class="paginacao">
        <a th:if="${pagina.hasPrevious()}"
        th:href="@{/locais(page=${pagina.number - 1}, size=${pagina.size})}">
            ◀ Anterior
        </a>

        <span th:if="${pagina.hasPrevious() ||pagina.hasNext() }">
            Página <span th:text="${pagina.number + 1}"></span>
            de <span th:text="${pagina.totalPages}"></span>
        </span>

        <a th:if="${pagina.hasNext()}"
        th:href="@{/locais(page=${pagina.number + 1}, size=${pagina.size})}">
            Próxima ▶
        </a>
    </div>

    <div class="cards-container">

        <div class="cards-grid">
            <div class="card"
                 th:each="l : ${locais}"
                          
                 th:onclick="'window.location.href=\'/local/' + ${l.id} + '\''">

                 <h4 th:text="${l.nome}">Nome Local</h4>

                 <div class="labels">
                    <div class="card-label"
                        th:text="${l.categoria.descricao}"
                        th:classappend="${l.classeLabelCategoria}">
                        Categoria local
                    </div>

                    <div class="card-label"
                        th:text="${l.statusProjeto.descricao}"
                        th:classappend="${l.classeLabelStatus}"
                        >
                        Status local
                    </div>
                 </div>
            </div>
        </div>
    </div>
</body>
</html>